$text-primary: #23262f;
$text-white: #fff;
$text-grey: #777e90;
$text-blue: #3772ff;
$back-primary: #fcfcfd;
$border-light: #e6e8ec;
$text-green: #45b26b;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $back-primary;
  color: $text-primary;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

a {
  color: $text-primary;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

button {
  color: $text-white;
  text-decoration: none;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  &--justify-space-between {
    justify-content: space-between;
  }
  &--justify-flex-start {
    justify-content: flex-start;
  }
  &--align-flex-start {
    align-items: flex-start;
  }
  &--flex-column {
    flex-direction: column;
  }

  &--justify-flex-end {
    justify-content: flex-end;
  }
}

.section--gradient1 {
  background: linear-gradient(
    79deg,
    #ffe5e5 -2.75%,
    #f5fffe 20.07%,
    #fff 54.28%,
    #fff 101.59%
  );
}

.col {
  width: 50%;
}

.head {
  background: #393280;
  padding: 15px 50px;

  p {
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.44px;
    padding-left: 5px;
  }
}

.panel {
  padding: 0 50px;

  &__content {
    border-bottom: 1px #d1d1d1 solid;
    padding: 18px 0;
    &__search-panel {
      background: #f6f6f6;
      border-radius: 20px;
      width: 40%;
      padding: 0 15px;

      input {
        color: #bcbcbc;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.68px;
        background: none;
        border: none;
        outline: none;
        width: 100%;
        height: 40px;
      }
    }

    > svg {
      width: 20%;
    }
    &__cart {
      width: 40%;
    }
  }
}

.nav {
  padding: 30px 50px;
}

.welcome {
  &__content {
    padding: 0 50px;
    h2 {
      color: #393280;
      font-size: 60px;
      font-style: normal;
      font-weight: 600;
      line-height: 145%;
      letter-spacing: -1.2px;
      text-transform: capitalize;
    }
    p {
      color: rgba(57, 50, 128, 0.8);
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: 180%;
      letter-spacing: 0.88px;
      margin-bottom: 30px;
    }
  }
  &__image {
    overflow: hidden;
  }
}

.book-categories {
  &__category {
  }
}

.cart__element {
  margin-top: 10px;
  img {
    margin-right: 5px;
  }
  p {
    margin-right: 5px;
  }
  span {
    text-wrap: nowrap;
  }
}

.slide {
  img {
    border-radius: 20px;
    margin-bottom: 20px;
  }
  h5 {
    font-size: 24px;
    color: #393280;
    margin-bottom: 10px;
  }
  p {
    font-size: 16px;
    color: #393280;
    text-align: center;
  }
}

.btn {
  color: #393280;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 220%;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  padding: 12px 35px;
  border-radius: 7px;
  border: 1px solid #393280;
  background: none;
  ::after {
  }
  &__nav {
    text-transform: uppercase;
    color: #111;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.16px;
    background: none;
    border: none;
    padding: 0 30px;
    &--sm-text {
      font-size: 12px;
      font-weight: 600;
      cursor: pointer;
    }
    &--light {
      color: #bcbcbc;
    }
  }
  &__nav:not(:last-child) {
    border-right: 1px #d1d1d1 solid;
  }
  &--filter {
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 12px;
  }
  &--filter:hover {
    text-decoration: underline;
  }
}

.container {
  margin: 0 auto;
  max-width: 65%;
}

.swiper {
  width: 100%;
}
